* { margin: 0; padding: 0;}

html, body {

	overflow-x: hidden;
	width:  100%;
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
	z-index: 0;
}

#home{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0%;
	width: 106%;
	height: 110%;
	background: linear-gradient(45deg, #0b0c10 1%,#1f2833 44%,#45a29e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.quicksand{
	font-family: Quicksand;
}

.dosis{
	font-family: Dosis;
}

.title{
	position: absolute;
	top: 30%;
	left: 10%;
	width: 85%;
	color: white;
	font-size: 14vw;
}
.subtitle{
	position: absolute;
	top: 50%;
	left: 10%;
	width: 85%;
	color: white;
	font-size: 10vw;
}

.subheading{
	color: white;
	font-size: 12vw;
}

#line{
	width: 90%;
	height: .1%;
	background-color: #66FCF1;
}
b{
	color: #66FCF1;
}

#about {
	position: absolute;
	margin: 0;
	padding: 3%;
	top: 110%;
	width: 100%;
	height: 200%;
	background-color: #1F2833;
	
}

.subheading_paragraph{
	color: white;
	font-size: 5vw;
}
.about_icon{
	width: 20%;
	float: left;
	margin-right: 2%;
}
.section_heading{
	color: white;
	font-size: 8vw;
	float: left;
	margin-top: 5%;
}
.about_text{
	color: white;
	font-size: 5vw;
	margin-left: 5%;
	margin-top: 2%;
	width: 90%;
}

#education{
	position: absolute;
	width: 100%;
	left: 3%;
	top: 20%;
}

#work{
	position: absolute;
	width: 100%;
	left: 3%;
	top: 40%;
	
}

#skills{
	position: absolute;
	width: 100%;
	left: 3%;
	top: 60%;
	
	
}
#eduText{
	position: absolute;
	top: 10%;
	left: 12%;
	width: 100%;
}
#contact{
	
}
